// colors
$primary-mid: #0548be;
$primary-dark: #083c96;
$secondary: #ffffff;

$primary-text-color: #ffffff;
$secondary-text-color: #474b57;

$input-text-color: #373e42;

// f0efe9 - бэкгаунд у ключа и пароля
// cccccc - круг у радиобаттонов
// dee3e7 - разделитель между меню на главной
// 1c1f29 - полпрзрачный фон у блока по центру на главной и у футера
// 7e7f8a - затемнялка у работ в слайдере
// f2f0e8 - about левая
// f4f5f0 - about правая
// f4f5f0 - works левая
// e3e2de - works правая
// faf8f0 - фон у блога
// dfdcd5 - фон у скилов
// 0d1120 - фон в шапке works

$block-background-color: #1c1f29;
$menu-separator-color: #dee3e7;

// fonts
$font-family: 'Roboto';
$font-size: 16;
$font-color: $primary-text-color;
$line-height: 1.5;
$headline-font: 'SansusWebissimo';

//blocks
$footer-height: 185px;