-
    var socialsList = {
        'vk': 'https://vk.com/alexxxnikolskiy',
        'github': 'https://github.com/alexnikolskiy',
        'skype': 'skype:alexnik86',
    }

-
    var menu = [
        {
            'name': 'Мои работы',
            'href': 'works',
            'class': []
        },
        {
            'name': 'Обо мне',
            'href': 'about',
            'class': []
        },
        {
            'name': 'Блог',
            'href': 'blog',
            'class': []
        },
        {
            'name': 'Авторизация',
            'href': '/',
            'class': []
        }
    ]
